<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Agregar evento</title>
</head>
<style>
        .login{
            border: 1px solid #E1E1E1;
            border-radius: 5px;
            padding: 17px;
            width: 300px;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        h1{
            top: 70px;
            left: 520px;
            position:fixed;
            display: flex;
            align-items: center;
            justify-content: center;
         }
        @media(max-width:400px){
            login{
                width: 90%;
            }
        }

    </style>
<body>
    {{>header}}
        <h1>Evento</h1>
    
    <form class="login">
        <div class="mb-3">
            <label for="nombreE" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreE" oninput="validarLet(this)">
        </div>
        <div class="mb-3">
            <label for="zonaE" class="form-label">Zona</label>
            <input type="text" class="form-control" id="zonaE" oninput="validarqe(this)">
        </div>
        <div class="mb-3">
            <label for="fechaE" class="form-label">Fecha</label>
            <input type="text" class="form-control" id="fechaE">
        </div>
        <button id="agr-evento" class="btn btn-primary" type="button">Agregar</button>
    </form>
    <script>
        flatpickr("#fechaE", {
            enableTime: false, 
            dateFormat: "Y-m-d",
            minDate: "today",
            maxDate:"2031-12-31" 
        });    
    </script>
    <script src="../js/agregar_evento.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/expre_regu.js"></script>
</body>
</html>