<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Institucion</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<style>
        body,html{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        .form-register {
            border: 1px solid #E1E1E1;
            border-radius: 5px;
            padding: 17px;
            width: 300px;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
              @media(max-width:400px){
            login{
                width: 90%;
            }
        }

    </style>
<body>
        {{>header}}
        <h4>Registro Institucion</h4>
        <label for="asesorEqu" class="form-label">Nombre</label>
        <input class="form-control" type="text" name="Nombre" id="nomInst" placeholder="Ingrese el nombre " oninput="validarLet(this)" autocomplete="off">
        <br>
        <label for="asesorEqu" class="form-label">Nivel</label>
        <input class="form-control" type="text" name="Nivel" id="nivInst" placeholder="Ingrese el nivel " oninput="validarLet(this)" autocomplete="off">
        
        <div class="mb-3">
                    <label for="asesorEqu" class="form-label">Direccion</label>
                    <input type="text" class="form-control" id="dirInst" oninput="validarqe(this) autocomplete="off"">
                </div>
                <label for="asesorEqu" class="form-label">Evento</label>
            <select class="form-select" id="eveInst">
                <option value="">Selecciona</option>
                {{#each evento}}
                <option value="{{CODIGO_EVENTO}}">{{NOMBRE}}</option>
                {{/each}}
            </select>
            <br>
            <label for="asesorEqu" class="form-label">Correo</label>
            <input class="form-control" type="email" name="email" id="corInst" placeholder="Ingrese el correo " oninput="validarCorreo(this)" autocomplete="off" maxlength="40">
            <br>
            <label for="asesorEqu" class="form-label">Contraseña</label>
        <input class="form-control" type="password" name="contraseña" id="conInst" placeholder="Ingrese la contraseña" oninput="validarqe(this)" autocomplete="off" maxlength="20">
        <input  type="button" value="Registrar"  class="btn btn-primary"  id="agr-inst">

    <script src="../js/agregar-institucion.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/expre_regu.js"></script>
</body>
</html>