<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Tabla Calificaciones</title>
</head>
<body>
     <div class="position-absolute top-50 start-50 translate-middle">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Construccion</th>
                    <th scope="col">Calif</th>
                    <th scope="col">Diseño</th>
                    <th scope="col">Calif</th>
                    <th scope="col">Programacion</th>
                    <th scope="col">Calif</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sensores</td>
                    <td></td>
                    <td>Presentacion</td>
                   <td></td>
                   <td>Codigo</td>
                   <td></td>
                </tr>
                <tr>
                    <td>Velocidad</td>
                    <td></td>
                    <td>Redaccion</td>
                   <td></td>
                   <td>Software</td>
                   <td></td>
                </tr>
                <tr>
                    <td>Estabilidad</td>
                    <td></td>
                    <td>Medio digital</td>
                   <td></td>
                   <td>Complejidad</td>
                   <td></td>
                </tr>
                <tr>
                    <td>Prototipo</td>
                    <td></td>
                    <td>Diagramas</td>
                   <td></td>
                   <td>Demostracion</td>
                   <td></td>
                </tr>
            </tbody>
        </table>
        
    
    </div>
    
</body>