<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Calificaciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <style>
        body {
            text-align: center;
        }

        table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 80%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        button {
            margin-top: 10px;
            padding: 10px;
            font-size: 16px;
        }

        #equipos {
            margin: 20px auto;
            width: 80%;
        }
    </style>
</head>

<body>
       {{>header}}
    <h2>Tabla de Calificaciones</h2>
    <table>
        <thead>
            <tr>
                <th>Equipo</th>
                <th>Programación</th>
                <th>Diseño</th>
                <th>Construcción</th>
            </tr>
        </thead>
        <tbody>
            <!-- Se pueden agregar mas categorias-->
            <tr>
                <td>{{nombre}}</td>
                <td>
                    <p>Código</p>
                    <input type="text" min="1" max="10" name="programacion_codigo" id="codigocalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                    <p>Software</p>
                    <input type="text" min="1" max="10" name="programacion_software" id="softwarecalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                    <p>Complejidad</p>
                    <input type="text" min="1" max="10" name="programacion_complejidad" id="complejidadcalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                    <p>Demostracion</p>
                    <input type="text" min="1" max="10" name="programacion_demostracion" id="demostracioncalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                </td>
                <td>
                    <p>Presentación</p>
                    <input type="text" min="1" max="10" name="diseno_presentacion" id="presentacioncalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                    <p>Redacción</p>
                    <input type="text" min="1" max="10" name="diseno_redaccion" id="redaccioncalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                    <p>Medio Digital</p>
                    <input type="text" min="1" max="10" name="diseno_medio_digital" id="mediocalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                    <p>Diagramas</p>
                    <input type="text" min="1" max="10" name="diseno_diagramas" id="diagramascalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                </td>
                <td>
                    <p>Sensores</p>
                    <input type="text" min="1" max="10" name="construccion_sensores" id="sensorescalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                    <p>Velocidad</p>
                    <input type="text" min="1" max="10" name="construccion_velocidad" id="velocidadcalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                    <p>Estabilidad</p>
                    <input type="text" min="1" max="10" name="construccion_estabilidad" id="estabilidadcalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                    <p>Prototipo</p>
                    <input type="text" min="1" max="10" name="construccion_prototipo" id="prototipocalf" oninput="validarNum(this)" maxlength="1" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td>Criterios</td>
                <td>
                    <p>Código, Software, Complejidad, Demostracion</p>
                </td>
                <td>
                    <p>Presentación, Redacción, Medio Digital, Diagramas</p>
                </td>
                <td>
                    <p>Sensores, Velocidad, Estabilidad, Prototipo</p>
                </td>
            </tr>
            <!-- se pueden agregar mas filas -->
        </tbody>
    </table>
    <button id="subirCalificaciones" data-id={{id}}>Subir Calificaciones</button>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script src="../js/calificar-equipos.js"></script>
   <script src="../js/expre_regu.js"></script>
    <script src="../js/cerrar-sesion.js"></script>
</body>

</html>