<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Asesor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        body {
            text-align: center;
        }

        table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 80%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        button {
            margin-top: 10px;
            padding: 10px;
            font-size: 16px;
        }

        #asesores {
            margin: 20px auto;
            width: 80%;
        }
    </style>
</head>

<body>
    <h2>Detalle de Asesor</h2>
    <table>
        <thead>
            <tr>
                <th>Asesor</th>
                <th>Cambiar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <!-- se pueden agregar mas filas para cada asesor -->
            <tr>
                <td>Asesor 1</td>
                <td>
                    <select>
                        <option>Asesor 2</option>
                        <option>Asesor 3</option>
                        <option>Asesor 4</option>
                    </select>
                </td>
                <td>
                    <button>Eliminar</button>
                </td>
            </tr>
            <!-- Agregar mas filas -->
        </tbody>
    </table>
    <button id="realizarCambios">Realizar cambios</button>
    <div id="asesores">
        <h3>Asesores</h3>
        <!-- Lista desplegable de los asesores -->
        <select>
            <option>Asesor 1</option>
            <option></option>
            <option></option>
            <option></option>
        </select>
    </div>
</body>

</html>