<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Login | POLO CLUB</title>
       <link href="../css/styles.css" rel="stylesheet">

</head>
<body id="body-sesion">
  <div class="login-box">
    <img class="avatar" src="/logo.png" alt="POLO CLUB">
    <h1>INICIAR SESION</h1>
    <form>
        <!-- USERNAME -->
        <label for="USUARIO">Usuario</label>
        <input type="text" placeholder="Usuario/Correo" id="iniCor">
        <!-- CONTRASEÑA -->
        <label for="CONTRASEÑA">Contraseña</label>
        <input type="password" placeholder="Contraseña" id="iniCon">
        <input type="button" value="Iniciar" id="inisesion">
        <a href="/agregar-institucion">Registrate</a>
        <a href="/">Olvide mi Contraseña</a>
    </form>
  </div>
  <script src="../js/iniciar-sesion.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>