<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Login | POLO CLUB</title>
       <link href="../css/styles.css" rel="stylesheet">

</head>
<body id="body-sesion">
  <div class="login-box">
    <img class="avatar" src="/logo.png" alt="POLO CLUB">
    <h1>INICIAR SESION</h1>
    <form>
        <!-- USERNAME -->
        <label for="USUARIO">Usuario</label>
        <input type="text" placeholder="Usuario/Correo">
        <!-- CONTRASEÑA -->
        <label for="CONTRASEÑA">Contraseña</label>
        <input type="password" placeholder="Ingresar">
        <input type="submit" value="Iniciar">
        <a href="/registro">Registrate</a>
    </form>
  </div>
</body>
</html>