<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Participante</title>
    <link rel="stylesheet" href="/Evento_robotica/assets/css/proyectpartic.css">
</head>
<body>
    <div class="container">
    <h1>Mi Proyecto</h1>
  <table>
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Nombre</th>
            <th>Estado</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

            </td>
        </tr>
    </tbody>
  </table>
    <div>
</body>
</html>