<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos Asesorados</title>
    <link rel="stylesheet" href="/Evento_robotica/assets/css/proyectases.css">
</head>
<body>
    <div class="container">
        <h1>Proyectos</h1>
      <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Equipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
    
                </td>
            </tr>
        </tbody>
      </table>
        <div>

</body>
</html>