<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Administrador proyectos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
          <a class="nav-link" href="tabla-evento">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tabla-institucion/1">Instituciones</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/tabla-equipo">Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tabla-proyecto">Proyecto</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/tabla-participantes">Participantes</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Formularios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/agregar-evento">Agregar evento</a></li>
            <li><a class="dropdown-item" href="/agregar-juez">Agregar juez</a></li>
            <li><a class="dropdown-item" href="/agregar-institucion">Agregar institución</a></li>
            <li><a class="dropdown-item" href="/agregar-proyecto">Agregar proyecto</a></li>
            <li><a class="dropdown-item" href="/agregar-equipo">Agregar equipo</a></li>
            <li><a class="dropdown-item" href="/agregar-participante">Agregar participante</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>